$grid-breakpoints: (
        xs: 0,
        sm: 480px,
        md: 768px,
        lg: 992px,
        xlg: 1450px
);

$logo-size-main: 10vh;
$logo-size-mobile: 5vh;
$main-nav-font-size-main: 18px;
$main-nav-font-size-big: 17px;
$text-size-normal: 18px;
$text-size-bigger: 20px;
$text-size-smaller: 16px;
$space-before-dropdown: 10px;
$green: #2EAA1A;
$light-green: #CCEC06;
$grey: #2D3D2F;
$gradient: linear-gradient(90deg, $light-green, $green);