@import "abstracts/_variables.scss";
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../../fonts/Proxima Nova Font.ttf');
}

:root {
  --app-height: 100%;
}

::placeholder {
  color: #ABB1AC;
}

header {
  font-size: $main-nav-font-size-main;
  font-family: 'Raleway', serif;
}

@media screen and (min-width: 1501px) {
  header {
    font-size: $main-nav-font-size-big;
  }
}

a {
  text-decoration: none;
}

button {
  font-family: 'Raleway', sans-serif;
}

input {
  color: $grey;
}

h1 {
  font-size: 4vw;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: $grey;
  font-weight: 400;
}

h2 {
  font-family: "Proxima Nova Semibold", sans-serif;
  color: $grey;
  font-size: 35px;
  font-weight: 100;
}

@media screen and (max-width: 480px){
  h2 {
    font-size: 23px;
  }
}

h5 {
  font-size: 18px;
}

p, span, footer a, .green-button {
  font-family: 'Raleway', sans-serif;
  font-size: $text-size-normal;
  color: $grey;
}

@media screen and (min-width: 1501px) {
  p, span, footer a, .green-button {
    font-size: $text-size-bigger;
  }
}

@media screen and (max-width: 480px), (orientation: portrait) {
  p, span, footer a, .green-button {
    font-size: $text-size-smaller;
  }
}

footer {
  background-image: linear-gradient(90deg , rgba(185, 232, 12,0.6), rgba(49, 172, 27,0.6));
  //padding: 30px 50px 10px 50px;
}

/*common usage start*/
.green-button {
  background: $gradient;
  border: none;
  border-radius: 25px;
  font-weight: 900;
  width: fit-content;
  padding: 12px 30px;
  transition: all 0.5s ease;
}

.green-button span {
  color: white;
}

.green-button:hover {
  box-shadow: 0 0 30px -2px rgba(148, 145, 145, 1);
}

@media screen and (max-width: 991px){
  .green-button {
    width: 100%;
  }
}

.main-mt, .mt-resp {
  margin-top: 15vh;
}

.mb-resp {
  margin-bottom: 15vh;
}

@media screen and (max-width: 480px), (orientation: portrait) {
  .main-mt {
    margin-top: 1.5vh;
  }

  .mt-resp {
    margin-top: 7vh;
  }

  .mb-resp {
    margin-bottom: 7vh;
  }
}
/*common usage end*/

/*header*/
.header-container {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.logo {
  width: $logo-size-main;
}

@media screen and (max-width: 480px), (orientation: portrait) {
  .logo {
    width: $logo-size-mobile;
  }
}

/*navbar main start*/
.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  position: relative;
  top: $space-before-dropdown / 2;
}

.main-nav ul li a {
  font-weight: 700;
  color: #2D3D2F;
}

.main-nav ul li a:hover {
  color: black;
}

.space-before-dropdown{
  content: '';
  display: block;
  width: 100%;
  height: $space-before-dropdown;
  z-index: 1;
  left: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -30px;
  background-color: white;
  min-width: 200px;
  border: 1px solid $green;
  z-index: 1;
}

.dropdown-content a {
  color: $grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: all 0.1s linear;
}

.dropdown-content a:hover {
  background-color: #F8F8F8;
}

.dropdown:hover .dropdown-content {
  transition: all 4s linear;
  display: block;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*navbar main end*/

/*navbar side start*/
.side-nav {
  height: 10vh;
}

@media screen and (max-width: 480px), (orientation: portrait) {
  .side-nav {
    height: 6vh;
  }
}

@media screen and (max-width: 1200px) {
  .main-nav {
    display: none;
  }

  .navbar {
    background-color: white;
    border-bottom: 3px solid $green;
  }
}

@media screen and (min-width: 1201px) {
  .side-nav {
    display: none;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2844, 61, 47, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media screen and (max-width: 480px){
  .navbar-toggler-icon {
    width: 2rem;
  }
}

.btn-close {
  opacity: 1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba%2844, 61, 47, 1%29'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}

.side-nav-search {
  margin-bottom: 15px;
}
/*navbar side end*/

/*navbar search-form start*/
.search {
    form {
      height: 35px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid black;
      border-radius: 30px;
      gap: 10px;
    }
    input {
      width: 85%;
      padding: 0 0 0 10px;
      border: 0;
      background: transparent;
      outline: none;
    }
    button {
      position: relative;
      right: 10px;
      border: none;
      width: 17px;
      height: 17px;
      background-color: transparent;
      background-image: url("../../images/search-icon.svg");
      background-size: cover;
      padding: 0;
    }
}
/*navbar search-form end*/

/*navbar language-switcher start*/
.language-switcher {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;

  .dropdown-content {
    min-width: 50px;
    left: -17px;
  }
  a {
    color: $grey;
  }
  a:hover {
    color: black;
    font-weight: bolder;
  }
}
/*navbar language-switcher end*/

/*faculty heading start*/
.faculty-heading {
  width: 39vw;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 10vh;
}

@media screen and (max-width: 991px){
  h1 {
    text-align: left;
    margin: 0;
    font-size: 5vw;
  }

  .faculty-heading {
    width: 100%;
    padding: 0;
    span {
      margin: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .faculty-heading {
    width: 45vw;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 5vh;
  }

  .faculty-heading {
    margin-left: 0;
    width: 100%;
  }
}
/*faculty heading end*/

/*accordion start*/
.photo-accordion {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 85vh;
  gap: 10px;
  margin: 10px 0;
  float: right;
}

.photo-accordion-item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  transition: flex 1.5s ease-in-out;
}

.accordion-item-active {
  flex: 15;
}

.accordion-item-1 {
  background-image: url('../../images/accordion-1.png');
}

.accordion-item-2 {
  background-image: url('../../images/accordion-2.png');
}

.accordion-item-3 {
  background-image: url('../../images/accordion-3.png');
}

.accordion-item-4 {
  background-image: url('../../images/accordion-4.png');
}

@media screen and (max-width: 1200px){
  .photo-accordion {
    width: 80%;
  }
}

@media screen and (max-width: 991px) {
  .photo-accordion {
    height: 50vh;
    width: 100%;
  }

  .photo-accordion-item {
    border-radius: 10px;
  }

  .accordion-item-active {
    flex: 30 !important;
  }
}

@media screen and (max-width: 767px) {
  .photo-accordion {
    height: 35vh;
  }
}

@media screen and (max-width: 480px) {
  .faculty-heading {
    height: calc(var(--vh, 1vh) * 64 - 20px);
  }
  .photo-accordion {
    height: calc(var(--vh, 1vh) * 30);
  }
}

/*accordion end*/

/*main*/
/*main menu start*/
.main-menu {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.main-menu-heading {
  font-weight: 500;
  display: inline-block;
  background-color: white;
  position: relative;
  padding: 0 5px;
  top: 15px;
  left: 20px;
}

.main-menu-table {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
  border: 2px solid $green;
  min-height: 150px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: underline;
    color: $green;
    transition: 0.5s all ease-out;
  }
  a:hover {
    color: $grey;
  }
}

.main-menu-mobile-header {
  display:none;
}

@media screen and (max-width: 767px) {
  .main-menu-table {
    min-height: 60px;
    border-radius: 5px;
  }
  .main-menu ul li:not(.main-menu-mobile-header), .main-menu-heading {
    display: none;
  }
  .main-menu-mobile-header {
    display: list-item;
  }
  .main-menu-mobile-header a {
    text-decoration: none !important;
    -webkit-text-stroke: 1px $green;
  }
}
/*main menu end*/

/*major start*/
.major-description {
  margin: 0;
  font-weight: lighter;
}
.major-column {
  display: contents;
}
@media screen and (min-width: 768px) {
  .major-name {
    margin: 0;
    font-size: 2.4vw;
  }
  .major-description {
    font-size: 1.4vw;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px){
  .major-name {
    margin: 0;
    font-size: 4vw;
  }
}

@media screen and (max-width: 479px) {
  .major-name {
    margin: 0;
    font-size: 5vw;
  }
}
/*major end*/

/*advantages start*/
.advantages-number {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-number-1, .advantages-number-3 {
  border-left: 7px solid $green;
}

.advantages-number-2 {
  border: 7px solid $green;
  border-left: none;
  padding: 25px 0 25px 80px;
}

.advantages-number-1 {
  padding-bottom: 20px;
}

.advantages-number-3 {
  padding-top: 20px;
}

.advantages-list-item p {
  margin: 0;
  font-size: 18px;
  padding: 0 30px 0 35px;
}

.advantages-photo {
  gap: 5px;
}

.advantages-photo img {
  max-width: 90%;
}

@media screen and (max-width: 479px) {
  .advantages {
    height: 100vh;
    background-image: url("../../images/advs-borders-mobile.png");
    background-repeat: no-repeat;
    background-size: 95% 100vh;
    background-position: center;
  }
  .advantages-number-1, .advantages-number-2, .advantages-number-3 {
    border: none;
    padding: 0;
  }
  .advantages-number-1 {
    height: 45vh;
  }
  .advantages-number-2 {
    height: 28vh;
    padding-top: 4vh;
  }
  .advantages-number-3 {
    height: 27vh;
    padding-top: 2vh;
  }
  .advantages-list-item p {
    font-size: 2vh;
    margin: 0;
    padding: 0;
  }
  .advantages-photo-mobile {
    padding: 0;
    margin: 0;
  }
  .advantages-border-line {
    border-radius: 5px;
  }
}

@media screen and (min-width: 480px) {
  .advantages {
    margin-bottom: 0;
  }
}

/*advantages end*/

/*companies start*/
.companies img {
  width: 100%;
}

.companies-button {
  text-align: center;
}

@media (min-width: 768px) {
  .companies-button {
    width: 40%;
  }
}

@media (max-width: 479px) {
  .companies-button button {
      padding: 12px 0;
    span{
      font-size: 13px;
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .companies-button button {
    padding: 10px 0;
    span{
      font-size: 11px;
    }
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .companies-button button {
    padding: 10px 0;
    span{
      font-size: 13px;
    }
  }
}


.hr-after-companies {
  border: none;
  height: 3px;
  opacity: 1;
  margin-top: 7vw;
  background: $gradient;
}
/*companies end*/

/*carousel start*/
.splide__slide {
  button {
  width: 80%;
  padding: 20px 0;
  border-radius: 40px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
  }
}

.splide__slide__container {
  img {
    opacity: 0.9;
    transition: 0.5s all ease-out;
  }

  div a {
    font-family: "Raleway", sans-serif;
    color: $grey;
    font-size: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 0.5s all ease-out;
  }
}

@media (max-width: 479px) {
  .splide__slide__container div a{
    font-size: 17px;
    line-height: 6vw;
    height: 24vw;
    font-weight: bold;
  }
}

@media (min-width: 480px) {
  .splide__slide__container div a{
    font-size: 1.7vw;
    line-height: 3vw;
    height: 9vw;
    font-weight: bold;
  }
}

.splide__slide__container:hover {
  img {
  opacity: 1;
  }
  div a {
    font-weight: 900;
    color: black;
  }
}

.splide__arrow {
  background: none;
}

@media (max-width: 479px) {
  .splide__arrow {
    display: none;
  }
}

.splide__arrow--prev {
  left: 0;
}

.splide__arrow--next {
  right: 0;
}

.carousel-progress {
  background: #ccc;
  opacity: 0.8;
  border-radius: 50px;
}

.carousel-progress-bar {
  background: $green;
  border-radius: 50px;
  height: 5px;
  transition: width 400ms ease;
  width: 0;
}
/*carousel end*/

/*footer*/
.contacts img {
  width: 15px;
}

.facebook-link, .telegram-link {
  padding: 7px;
}

.facebook-link img {
  width: 30px;
}

.telegram-link img {
  width: 35px;
}

.footer-links a {
  text-decoration: underline;
  transition: 0.5s all ease-out;
}

@media (min-width: 480px) {
  .footer-links {
    gap: 10px;
  }
}

@media (max-width: 479px) {
  .footer-links a {
    padding-top: 5px;
  }
}

.footer-links a:hover {
  font-weight: bolder;
  color: black;
}

.footer-kpi-logos {
  img {
    width: 100%;
  }
}


@media (min-width: 480px) {
  .developed_by{
    text-align: right;
  }

  .footer-kpi-logos{
    max-width: 40%;
    margin-left: auto;
  }
}

